---
import ExperienceItem from "./ExperienceItem.astro"
const EXPERIENCIE = [
   {
    date: "Noviembre 2023 - Presente",
    title: "Full Stack Developer",
    company: "UpSpain",
    description: 
      "Lideré la implementación de arquitectura hexagonal en proyectos clave, aumentando la flexibilidad y desacoplamiento del sistema en un 40%. Desarrollé y mantuve APIs RESTful robustas utilizando Angular y DDD, optimizando la lógica del dominio y mejorando la escalabilidad del sistema. Implementé CQRS y Event Sourcing, resultando en una mejora del 30% en la eficiencia del procesamiento de datos y trazabilidad completa del estado del sistema.",
    link: "https://upspain.com"  // Suponiendo que este pueda ser un enlace relevante
  },
  {
    date: "Abril 2023 - Octubre 2023",
    title: "Backend Developer",
    company: "Digital Virgo",
    description:
      "Implementé scripts personalizados utilizando Node.js con Express para enriquecer la UX en sitios web, logrando una reducción del 15% en tasas de rebote y un aumento del 20% en la duración de las sesiones.",
    link: "https://www.digitalvirgo.com/"  // Suponiendo que este pueda ser un enlace relevante
  },
 
]
---

<ol class="relative mt-16">
  {
    EXPERIENCIE.map((experiencie) => (
      <li class="">
        <ExperienceItem {...experiencie} />
      </li>
    ))
  }
</ol>
